html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	/* card 1 */
	--clr-primary-orange: hsl(31, 77%, 52%);
	/* card 2 */
	--clr-primary-cyan: hsl(184, 100%, 22%);
	/* card 3 */
	--clr-primary-cyan-dark: hsl(179, 100%, 13%);
	/* (paragraphs) */
	--clr-neutral-white-transparent: hsla(0, 0%, 100%, 0.75);
	/* (background, headings, buttons) */
	--clr-neutral-gray-light: hsl(0, 0%, 95%);
	/* font family */
	--ff-primary: 'Lexend Deca', sans-serif;
	--ff-secondary: 'Big Shoulders Display', cursive;
	/* font weights */
	--fw-normal: 400;
	--fw-bold: 700;
	/* font size */
	--fs-normal: 15px;
}

body {
	padding: 2em;
	font-size: var(--fs-normal);
	font-family: var(--ff-primary);
	color: var(--clr-neutral-gray-light);
	background-color: var(--clr-neutral-gray-light);
}

.container {
	border-radius: 0.75em;
	overflow: hidden;
}

/* CARD */
.card {
	padding: 2.5em;
}
.card:first-child {
	background-color: var(--clr-primary-orange);
}
.card:nth-child(2) {
	background-color: var(--clr-primary-cyan);
}
.card:last-child {
	background-color: var(--clr-primary-cyan-dark);
}
.card > *:nth-child(n + 2):nth-child(-n + 3) {
	padding-top: 0.9em;
}
.card > *:last-child {
	margin-top: 2em;
}
/* Card Contents */
.card__logo {
	width: 4em;
}
.card__title {
	font-family: var(--ff-secondary);
	font-size: 2rem;
	text-transform: uppercase;
}
.card__description {
	color: var(--clr-neutral-white-transparent);
	line-height: 1.5;
}
/* Card Button */
.card__btn {
	font-weight: var(--fw-bold);
	padding: 1em 2.5em;
	border-radius: 30px;
	cursor: pointer;
	border: none;
	border: 2px solid transparent;
}
.card__btn:hover {
	color: var(--clr-neutral-gray-light);
	background-color: transparent;
	border: 2px solid var(--clr-neutral-gray-light);
	transition: 0.3s ease-in;
}
/* Button Text Color */
.orange {
	color: var(--clr-primary-orange);
}
.cyan {
	color: var(--clr-primary-cyan);
}
.dark {
	color: var(--clr-primary-cyan-dark);
}

/* DESKTOP */
@media (min-width: 593px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 36.9em;
	}
	.card {
		flex-grow: 1;
		flex-basis: 50%;
	}
	.card:nth-child(3) {
		flex-grow: 999;
	}
}

@media (min-width: 900px) {
	.container {
		flex-wrap: nowrap;
		flex-basis: 56em;
	}
	.card {
		flex-basis: 100%;
	}
	.card__description {
		margin-top: 0.875em;
		margin-bottom: 3rem;
	}
}
